
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-app {
    background: linear-gradient(130deg , #023c76,#EAD8B1);
    background-color: white;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 200px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    background-color: #30322c;
    color: white;
    border-radius: 50px;
}

button:hover {
    background-color: #595656;
    transition-duration: 0.25s;
}
.weather-icons{
    width: 170px;
    margin-top: 30px;
}    

#weather-result {
    margin-top: 20px;
}

#temperature {
    font-size: 80px;
    font-weight: 500;
    margin: 0%;
}

#city-name {
    font-size: 45px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin: 0%;

}

#description {
    font-size: 18px;
    color: #fcfcfc;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px,20px;
    margin-top: 50px ;
    margin-bottom: 20px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    padding-left: 30px;
    margin-right: 10px
}
.humidity , .wind
{
    font-size: 25px;
    margin: 0px 0px;
}
.par
{
    margin: 0px 0px;
}

.weather-result{
    display: none;
}

@media (max-width: 768px) {
    .weather-app {
        width: 90%; /* make the container take up more space on smaller screens */
        padding: 15px;
    }

    input[type="text"] {
        width: 90%; /* input takes full width */
        margin-bottom: 10px;
    }

    button {
        width: 30%;
        margin-left: 0;
        margin-top: 10px;
    }

    #temperature {
        font-size: 50px; /* make text smaller on mobile */
    }

    #city-name {
        font-size: 30px;
    }

    .weather-icons {
        width: 120px; /* reduce size of the weather icon */
    }

    .details {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .col {
        justify-content: center;
        margin-bottom: 20px;
    }

    .humidity, .wind {
        font-size: 18px; /* adjust text size */
    }
}